	body{
	
		max-width:450px;
		margin: 0 auto;
		
		padding-bottom: constant(safe-area-inset-bottom); 
		/* 适配iPhoneX底部 兼容 iOS < 11.2 */
		padding-bottom: env(safe-area-inset-botom); 
		/* 适配iPhoneX底部 兼容 iOS >= 11.2 */
		
		background: rgb(255, 255, 255);
		font-size: 14px;
		font-family: -apple-system, BlinkMacSystemFont, 
		"PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",
		Tahoma,Simsun,sans-serif;
		font-weight: 300;
    }

    @font-face {
    	font-family: futuraa; 
    	font-weight: bold; 
    	src: url(https://withme.pet/fonts/Futura.ttc); 
    }
    

/*隐藏滚动条（感觉没有多少用一样！）*/
	::-webkit-scrollbar{
		width: 0px;
		height: 0px;
		display: none;
	}

	::-webkit-scrollbar-thumb{
		border-radius: 5px;
		background: rgba(0,0,0,0.2);
	}


/*Tab 1
    第一部分内容*/
	.banner{
		background: rgb(251, 227, 0);
		background-image: url('imgs/bannerbg.png');
		background-size: cover;
		height: 220px;
		text-align: center;
		overflow: hidden;
		color: rgb(0, 0, 0);
		padding: 0 0 0 30px;
	}

	.LM {
		float: left;
		margin: 0 auto;
		padding: 20px 0 20px 0;
		width: 100%;
		height: 80px;
	}

	.logo img{
		float: left;
		width: 52px;
		height: 52px;
	}

	.menu {
		float: right;
		margin-right: 15px;
	}

	.menu li {
		float: left;
		list-style:none;
		color: rgb(0, 0, 0);
    	font-size: 14px;
		font-weight: 600;
    	text-decoration: none;
    	padding: 0 15px;
	}

	.menu a:link {
		color:rgb(0, 0, 0);
		text-decoration: none;
	}

	.slogan{
		width: 230px;
		height: 80px;
		float: left;
		margin: 0 auto;
		color: #000;
		font-weight: 400;
		text-align: left;
		font-size: 32px;
		line-height: 32px;
		font-family: futuraa;
	}

	.info {
		background: #eee;
		background-image: url('imgs/aboutbg.png');
		background-size: 200px;
		padding:30px;
	}

	.about {
		font-size: 12px;
		letter-spacing: 1px;
		line-height: 1.8;
	}

	.about b{
		font-weight: 400;
	}

	.infoimg {
		float: right;
		right: 20px;
		top: 250px;
	}

	.infoimgs {
		height: 90px;
		margin-left: 20px; 
	}

/*服务区*/
	.service {
		float: left;
		padding: 50px 30px 25px 30px;
		background: rgb(250,250,250);
	}

	.btitle {
		font-size: 24px;
		font-family: futuraa;
		font-weight: 200;
		padding-bottom: 25px;
	}

	.petSer {
		float: left;
		padding: 25px 0;
		width: 100%;
	}

/*服务区-左侧整体*/
	.serLeft {
		margin: 0 auto;
		float: left;
		width: 60%;
	}

/*服务区-左侧内容*/
	.serTitle {
		padding-bottom: 10px;
		font-size: 16px;
		font-weight: 600;
	}

	.serInfo {
		font-size: 12px;
		letter-spacing: 1px;
		line-height: 1.8;
	}

/*服务区-左侧链接接样式*/
	.moreLinks {
		float: left;
	}

	.moreLinks ul {
		float: left;
		padding: 0px;
	}

	.moreLinks li {
		float: left;
		list-style-type: none;
		color: rgb(45, 185, 200);
    	font-size: 12px;
		font-weight: 400;
    	margin-right: 20px;
	}

	.moreLinks a:link {
		color:rgb(45, 185, 200);
		text-decoration: none;
	}
 
/*服务区-右侧图标样式*/
	.serRight {
		width: 35%;
		float: right;
	}

	.serICONs {
		float: right;
		width: 64px;
	}
	






















