	html, body {
	
		max-width: 100%;
		margin: 0 auto;
		height: 100%;
		
		padding-bottom: constant(safe-area-inset-bottom); 
		/* 适配iPhoneX底部 兼容 iOS < 11.2 */
		padding-bottom: env(safe-area-inset-botom); 
		/* 适配iPhoneX底部 兼容 iOS >= 11.2 */
		
		background: rgb(245,245,245);
		font-size: 16px;
		font-family: -apple-system, BlinkMacSystemFont, 
		"PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",
		Tahoma,Simsun,sans-serif;
		font-weight: 500;
		box-sizing:border-box; /* 解决width=100% Padding宽度溢出 */
		line-height: 1;
    }

    @font-face {
    	font-family: futuraa; 
    	font-weight: bold; 
    	src: url(https://withme.pet/fonts/Futura.ttc); 
    }
    

/*隐藏滚动条（感觉没有多少用一样！）*/
	::-webkit-scrollbar{
		width: 0px;
		height: 0px;
		display: none;
	}

	::-webkit-scrollbar-thumb{
		border-radius: 5px;
		background: rgba(0,0,0,0.2);
	}


/*开始*/
	#bg {
		max-width: 960px;
		margin: 0 auto;
		box-sizing: border-box; /* 解决width=100% Padding宽度溢出 */
		padding: 40px;
	}

		#bgg {
			background: white;
			box-sizing: border-box; /* 解决width=100% Padding宽度溢出 */
			background: white;
			border-radius: 16px;
			padding: 40px 0;
		}

			#qr {
				margin: 0 auto;
				width: 50%;
				max-width: 200px;
			}

				#qr img	{
					width: 100%;
				}

			#txt {
				text-align: center;
				padding-top: 20px;
			}

	.copyright {
		font-size: 11px;
		color: rgb(150,150,150);
		text-align: center;
		
	}
