	body{
	
		max-width:960px;
		margin: 0 auto;
		
		padding-bottom: constant(safe-area-inset-bottom); 
		/* 适配iPhoneX底部 兼容 iOS < 11.2 */
		padding-bottom: env(safe-area-inset-botom); 
		/* 适配iPhoneX底部 兼容 iOS >= 11.2 */
		
		background: rgb(255, 255, 255);
		font-size: 14px;
		font-family: -apple-system, BlinkMacSystemFont, 
		"PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",
		Tahoma,Simsun,sans-serif;
		font-weight: 300;
    }

    @font-face {
    	font-family: futuraa; 
    	font-weight: bold; 
    	src: url(https://withme.pet/fonts/Futura.ttc); 
    }
    

/*隐藏滚动条（感觉没有多少用一样！）*/
	::-webkit-scrollbar{
		width: 0px;
		height: 0px;
		display: none;
	}

	::-webkit-scrollbar-thumb{
		border-radius: 5px;
		background: rgba(0,0,0,0.2);
	}


/*Tab 1
    第一部分内容*/
	.banner{
		background: rgb(251, 227, 0);
		background-image: url('imgs/bannerbg.png');
		background-size: cover;
		height: 220px;
		text-align: center;
		overflow: hidden;
		color: rgb(0, 0, 0);
		padding: 0 0 0 30px;
	}

	.LM {
		float: left;
		margin: 0 auto;
		padding: 20px 0 20px 0;
		width: 100%;
		height: 80px;
	}

	.logo img{
		float: left;
		width: 52px;
		height: 52px;
	}

	.booking {
		float: right;
    	color: rgb(0, 0, 0);
    	font-size: 16px;
		font-weight: 600;
    	line-height: 52px;
    	padding:0 30px 0 30px;
    	text-align: right;
    	text-decoration: none;
	}

	.slogan{
		width: 230px;
		height: 80px;
		float: left;
		margin: 0 auto;
		color: #000;
		font-weight: 400;
		text-align: left;
		font-size: 32px;
		line-height: 32px;
		font-family: futuraa;
	}

	.about {
		padding: 30px 30px 30px 30px;
		font-size: 13px;
		letter-spacing: 1px;
		line-height: 2;
		font-weight: 300;
	}

	.bookingbtn {
		margin:0 30px;
	}

	.bookingtxt {
		background: rgb(251, 227, 0);
		border: none;
    	border-radius: 4px;
    	color: rgb(0, 0, 0);
		display: inline-block; /* 去除外边框效果 1 */
		outline:none; /* 去除外边框效果 2 */
    	font-size: 16px;
		font-weight: 700;
		width: 100%;
    	height: 48px;
    	line-height: 48px;
    	text-align: center;
    	text-decoration: none;
    	box-shadow: 0px 2px 12px rgb(251,227,0, 0.35);
	}

	.bookingtxt:active {
		background: rgb(234,212,0);
	}

	






















