	body{
	
		max-width: 100%;
		margin: 0 auto;
		
		padding-bottom: constant(safe-area-inset-bottom); 
		/* 适配iPhoneX底部 兼容 iOS < 11.2 */
		padding-bottom: env(safe-area-inset-botom); 
		/* 适配iPhoneX底部 兼容 iOS >= 11.2 */
		
		background: gray;
		font-size: 14px;
		font-family: -apple-system, BlinkMacSystemFont, 
		"PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",
		Tahoma,Simsun,sans-serif;
		font-weight: 300;
		box-sizing:border-box; /* 解决width=100% Padding宽度溢出 */

    }

    @font-face {
    	font-family: futuraa; 
    	font-weight: bold; 
    	src: url(https://withme.pet/fonts/Futura.ttc); 
    }
    

/*隐藏滚动条（感觉没有多少用一样！）*/
	::-webkit-scrollbar{
		width: 0px;
		height: 0px;
		display: none;
	}

	::-webkit-scrollbar-thumb{
		border-radius: 5px;
		background: rgba(0,0,0,0.2);
	}


/*Tab 1
    第一部分内容*/
	.banner{
		background: rgb(251, 227, 0);
		background-image: url('imgs/bannerbg.png');
		background-size: cover;
		height: 220px;
		text-align: center;
		overflow: hidden;
		color: rgb(0, 0, 0);
		margin: 0 auto;
	}

	.LM {
		margin: 0 auto;
		padding: 20px 0 20px 30px;
		height: 120px;
		max-width: 960px;
		box-sizing: border-box; /* 解决width=100% Padding宽度溢出 */
	}

	.logo img{
		float: left;
		width: 52px;
		height: 52px;
	}

	.menu {
		float: right;
		margin-right: 15px;
	}

	.menu li {
		float: left;
		list-style:none;
		color: rgb(0, 0, 0);
    	font-size: 14px;
		font-weight: 600;
    	text-decoration: none;
    	padding: 0 15px;
	}

	.menu a:link {
		color:rgb(0, 0, 0);
		text-decoration: none;
	}

	.slo {
		margin: 0 auto;
		padding: 0 30px;
		width: 100%;
		max-width: 960px;
		box-sizing: border-box; /* 解决width=100% Padding宽度溢出 */
	}

	.slogan{
		width: 230px;
		height: 80px;
		color: #000;
		font-weight: 400;
		text-align: left;
		font-size: 32px;
		line-height: 1;
		font-family: futuraa;
	}

/*关于我们*/
	.info {
		float: left;
		background: #eee;
		background-image: url('imgs/aboutbg.png');
		background-size: 200px;
		width: 100%;
	}

	/*文本*/
	.btnTxt {

		margin: 0 auto;		
		background-image: url('imgs/aboutimgg.png');
		background-color: transparent;
		background-size: 200px;
		background-repeat: no-repeat;
		background-position: 100% 100%;
		padding: 30px;
		max-width: 960px;
		box-sizing:border-box; /* 解决width=100% Padding宽度溢出 */

	}


	.about {
		font-size: 12px;
		letter-spacing: 1px;
		line-height: 1.8;
		width: 75%;
	}

	.about b{
		font-weight: 400;
	}

	/*按钮*/
	.btbooking{
		margin-top: 20px;
	}

	.btbtext{
		background: rgb(251, 227, 0);
		border: none;
    	border-radius: 4px;
    	color: rgb(0,0,0);
		display: inline-block; /* 去除外边框效果 1 */
		outline:none; /* 去除外边框效果 2 */
    	font-size: 14px;
		font-weight: 600;
		height: 40px;
    	line-height: 40px;
    	text-align: center;
    	text-decoration: none;
    	padding: 0 20px;
    }


/*服务区*/
	.service {
		float: left;
		padding: 20px 0;
		width: 100%;
		background: rgb(246, 245, 242);
		margin: 0 atuo;
		box-sizing:border-box; /* 解决width=100% Padding宽度溢出 */
	}

	.btitle {
		font-size: 32px;
		line-height: 1;
		font-family: futuraa;
		font-weight: 200;
		margin: 0 auto;
		padding: 30px;
		max-width: 960px;
		box-sizing: border-box; /* 解决width=100% Padding宽度溢出 */
	}

	.psall {
		max-width: 960px;
		margin: 0 auto;
		padding: 12px;
		box-sizing: border-box; /* 解决width=100% Padding宽度溢出 */
	}

	.petSer {
		float: left;
		background-color: rgb(255,255,255);
		padding: 20px 18px;
		box-sizing:border-box; /* 解决width=100% Padding宽度溢出 */
		margin-bottom: 12px;
		border-radius: 12px; 
		width: 100%;
	}

/*服务区-左侧整体*/
	.serLeft {
		margin: 0 auto;
		float: left;
		width: 65%;
	}

/*服务区-左侧内容*/
	.serTitle {
		padding-bottom: 10px;
		font-size: 20px;
		font-weight: 400;
		letter-spacing: 1px;
	}

	.serInfo {
		font-size: 12px;
		letter-spacing: 1px;
		line-height: 1.8;
	}

/*服务区-左侧链接接样式*/
	.moreLinks {
		float: left;
		color: rgb(45, 185, 200);
    	font-size: 12px;
		font-weight: 400;
		line-height: 1;
		padding-top: 15px;
	}

	.moreLinks a:link {
		color:rgb(45, 185, 200);
		text-decoration: none;
	}
 
/*服务区-右侧图标样式*/
	.serRight {
		float: left;
		width: 35%;
	}

	.serICONs {
		float: right;
		width: 64px;
	}

/*图片展示*/
	.works {
		background: rgb(255,255,255);
		width: 100%;
		padding: 20px 0;
		margin: 0 auto;
		float: left;
	}

	.worksmain {
		max-width: 960px;
		margin: 0 auto;
		padding: 30px;
		box-sizing:border-box; /* 解决width=100% Padding宽度溢出 */
	}

	.worksTitle {
		font-size: 32px;
		line-height: 1;
		font-family: futuraa;
		font-weight: 200;
		padding-bottom: 30px;
	}

	.worksImg {
		width: 100%;
		box-sizing:border-box; /* 解决width=100% Padding宽度溢出 */
	}

/*页底-联系方式等*/
	.footer {
		width: 100%;
		float: left;
		background: rgb(255,255,255);
	}

	.footerall {
		max-width: 960px;
		margin: 0 auto;
		padding: 30px;
		box-sizing:border-box; /* 解决width=100% Padding宽度溢出 */
	}

	.footerTitle {
		font-size: 32px;
		font-family: futuraa;
		line-height: 1;
		font-weight: 200;
		padding-bottom: 25px;
	}

	.contactTable {
		border: none;
		line-height: 24px;
		font-family: futuraa;
		padding-bottom: 25px;
		width: 100%;
		box-sizing:border-box; /* 解决width=100% Padding宽度溢出 */
	}

	.contactTable td{
		padding-right: 20px;
		width: 50%;
	}

	.conTi {
		font-size: 12px;
		color: rgb(150,150,150);
		font-weight: 500;
	}

	.conInfo {
		font-size: 18px;
		font-family: futuraa;
		color: rgb(0,0,0);
	}

	.conInfo a:link, a:visited {
		color:rgb(0,0,0);
		text-decoration: none;
	}

	.conInfo a:hover {
		text-decoration: underline;
		color: rgb(0,0,0);
	}


	/*地图地址*/
	.map {
		height: 150px;
		background-image: url(imgs/map.png);
		background-size: cover;
		text-align: center;
		margin-bottom: 50px; 
		width: 100%;
		box-sizing:border-box; /* 解决width=100% Padding宽度溢出 */
	}

	.map a{
		margin: 0 auto;
		font-size: 12px;
		text-decoration: none;
		color: rgb(0,0,0);
		font-weight: 300;
		background: rgb(255,255,255);
		padding: 10px 10px;
		position: relative;
    	top: 45%;
    	transform: translate(0, -45%);
    	width: 100%;
	}

	.map a a:link {
		color: rgb(0,0,0);
	}

	.map b {
		font-weight: 500;
	}

	/*社交媒体*/
	.sns {
		width: 100%;
		float: left;
	}

	.wechat {
		float: left;
		margin-right: 30px;
	}

	.wechat img {
		width: 64px;
		height: 64px;
	}

	.inswb {
		float: left;
		text-align: left;
		margin: 0 auto;
		color: rgb(0,0,0);
		vertical-align: middle;
		font-size: 12px;
		font-weight: 400;
	}

	.inswb a:link, avisited {
		color: rgb(0,0,0);
		text-decoration: none;
	}

	.inswb img {
		width: 24px;
		height: 24px;
		vertical-align: middle;
		padding-right: 8px;
		}

	.insta {
		padding-bottom: 20px;
	}

/*版权申明*/
	.copyright {
		font-size: 11px;
		color: rgb(150,150,150);
		padding: 40px 0 20px 0;
		float: left;
		width: 100%;
	}





















